body{
    box-sizing: border-box;
}

.searchbox{
    width: 50%;
    align-self: center;
    margin: 0 auto;
    text-align: center;
}

.formscontainer{
    box-sizing: border-box;
    display: flex;
}