body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-inline: 2%;
}

#root {
  height: 100%;
}

.app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  min-height: 100vh;
}

/* Optional styling για τα sections */
header {
  color: white;
  display: flex;
  padding-bottom: .2rem;
  padding-inline: 15px;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid red;
}

nav{
    display: inherit;
}

nav a {
  margin-left: 1rem;
  position: relative;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 0;
}

#logo h2{
    position: relative;
    margin-bottom: 0;
}

main {
  padding: 2rem;
  min-height: 100vh;
}

footer {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: .5rem;
  border-top: 1px solid red;
}

#search:hover{
  border: 3px dashed;
}

#search{
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: 3px solid black;
  padding-inline-start: 12px;
  background-color: #0b292697;
}

nav a:hover{
  color: #3dc9bd;
}
